<!-- section start -->
<section class="section-b-space" style="padding-top: 0; padding-bottom: 0;">
    <!--<div class="container">-->
        <div class="visible-sm-hide" style="margin-bottom: 4px;">
            <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
                <div ngxSlickItem>
                    <div class="home home-geio-race text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Race
                                        </h3>
                                        <p>
                                            Be the first to reach the finish line!
                                        </p>
                                    </div>
                                    <div class="play-list-btn">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-battle text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Battle
                                        </h3>
                                        <p>
                                            Dodge, aim, and attack-it's an all-out robot battle!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-knight text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Knight
                                        </h3>
                                        <p>
                                            Use motion sensing controls and clobber your enemies!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-explore text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Explore
                                        </h3>
                                        <p>
                                            Record the world from the eyes of a robot!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-treasure text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Treasure Snatch
                                        </h3>
                                        <p>
                                            Scan totems to get the treasure and hold it as long as you can!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-augmented text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Augmented Reality
                                        </h3>
                                        <p>
                                            Engage in exciting virtual games with real robots!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-programming text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Programming
                                        </h3>
                                        <p>
                                            Control robot actions through graphic programming!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div class="home home-geio-drive text-center">
                        <div class="container" style="height: 100%;">
                            <div class="row" style="height: 100%;">
                                <div class="col">
                                <div class="slider-contain">
                                    <div class="m-text-play">
                                        <h3>
                                            Free Drive
                                        </h3>
                                        <p>
                                            Take your robot for a spin!
                                        </p>
                                    </div>
                                    <div class="play-list-btn visible-sm-hide">
                                        <div class="play-icon-div">
                                            <a id="race" href="javascript:;" (click)="race()">Race</a>
                                            <a id="battle" href="javascript:;" (click)="battle()">Battle</a>
                                            <a id="knight" href="javascript:;" (click)="knight()">Knight</a>
                                            <a id="explore" href="javascript:;" (click)="explore()">Explore</a>
                                            <a id="treasure" href="javascript:;" (click)="treasure()">Treasure Snatch</a>
                                            <a id="AR" href="javascript:;" (click)="AR()">Augmented Reality</a>
                                            <a id="programming" href="javascript:;" (click)="programming()">Programming</a>
                                            <a id="drive" href="javascript:;" (click)="drive()">Free Drive</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="visible-sm-show" style="display: none;">
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/speed.jpg" alt="">
                    <div class="m-text">
                        <h3>Race</h3>
                        <p>Be the first to reach the finish line!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/battle.jpg" alt="">
                    <div class="m-text">
                        <h3>Battle</h3>
                        <p>Dodge, aim, and attack-it's an all-out robot battle!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/hero.jpg" alt="">
                    <div class="m-text">
                        <h3>Knight</h3>
                        <p>Use motion sensing controls and clobber your enemies!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/find.jpg" alt="">
                    <div class="m-text">
                        <h3>Explore</h3>
                        <p>Record the world from the eyes of a robot!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/duobao.jpg" alt="">
                    <div class="m-text">
                        <h3>Treasure Snatch</h3>
                        <p>Scan totems to get the treasure and hold it as long as you can!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="https://api.gjsrobots.id/api/images/front/ar.jpg" alt="">
                    <div class="m-text">
                        <h3>Augmented Reality</h3>
                        <p>Engage in exciting virtual games with real robots!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="{{imgUrl}}/images/front/edu.jpg" alt="">
                    <div class="m-text">
                        <h3>Programming</h3>
                        <p>Control robot actions through graphic programming!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
                <a href="javascript:;">
                    <img style="width: 100%; border: 0;" src="{{imgUrl}}/images/front/follow.jpg" alt="">
                    <div class="m-text">
                        <h3>Free Drive</h3>
                        <p>Take your robot for a spin!</p>
                    </div>
                </a>
            </div>
        </div>
    <!--</div>-->
</section>
<!-- section end -->