<!-- section start -->
<section class="section-b-space" style="background-color: #191819;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="width: 80%; height: 80%; margin: 0px auto;">
                    <div class="video-player" id="videoPlayer1">
                        <div id="vjs_video_2284" class="video-js vjs_video_2284-dimensions vjs-fluid vjs-controls-disabled vjs-workinghover vjs-v6 vjs-has-started vjs-user-inactive vjs-paused vjs-ended4" tabindex="-1" lang="zh-cn" role="region" aria-label="Video Player">
                            <video class="vjs-tech" id="vjs_video_2284_html5_api" tabindex="-1" preload="auto" muted src="{{imgUrl}}/images/front/video/video1.ogg"></video>
                            <div class="vjs-poster vjs-hidden" tabindex="-1" aria-disabled="false"></div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; margin: 20px 0px;">
                    <div class="gankerex-play" (click)="playPause()">&nbsp;&nbsp;Click to play</div>
                </div>
            </div>
            <div class="col-md-6 panel-ganker-2-right">
                <div class="word-strong animated fadeInUp">
                    Evolution, starting with assembly
                </div>
                <div class="line animated fadeInUp"></div>
                <div class="word animated fadeInUp">The first thing the driver got the GANKER EX was to complete assemble it by hand,
                    </div>
                <div class="word animated fadeInUp">Full body armor with zero screws, while ensuring the basic strength, fully experience the fun of assembly and complete its birth ceremony.</div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->