<!-- section start -->
<section class="section-b-space" style="background-color: #191819; padding-top: 0;">
    <div class="container">
        
        <div class="row gankerex_match_bg">
            <div class="col-md-12" style="display: flex;">
                <div class="row">
                    <div class="gankerex_match_info animated slideInUp">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="word-strong">
                                National Mech Fighting
                                </div>
                                <div class="line"></div>
                                <div class="word">
                                    
                                GANKER ARENA is a robot competitive platform created by the Craftsman Club. Just like the concept of "Man-machine integration, fighting future" conveyed by GANKER EX, we create a brand new competitive sport based on the extreme control and performance of robots. Mecha fighting has weakened the differences in age, gender, and physique, allowing players to compete in a more equal and safer way, making it possible for all people to participate. Let GANKER EX help you stand on the world-class podium!
                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="gankerex_match_info_mobil animated slideInUp">
            <div class="info-left"></div>
            <div class="info-right clearfix">
                <div class="word" style="width: 85vw; margin: 50px auto;">
                    <span class="word-strong">
                        National Mech Fighting
                    </span>
                    <div class="line"></div>
                    
                  GANKER ARENA is a robot competitive platform created by the Craftsman Club. Just like the concept of "Man-machine integration, fighting future" conveyed by GANKER EX, we create a brand new competitive sport based on the extreme control and performance of robots. Mecha fighting has weakened the differences in age, gender, and physique, allowing players to compete in a more equal and safer way, making it possible for all people to participate. Let GANKER EX help you stand on the world-class podium!
                
                </div>
            </div>
        </div>

        <div class="gankerex_match_photo clearfix">
            <ul class="clearfix match-labe-ul animated fadeInUp">
                <li class="match-labe-li" (mouseover)='hover1()'>
                    <div id="a1" class="match-sign">WCG – Shanghai
                        </div>
                </li>
                <li class="match-labe-li" (mouseover)='hover2()'>
                    <div id="a2" class="match-sign">
                            WCG – Xi’an
                  
                    </div>
                </li>
                <li class="match-labe-li" (mouseover)='hover3()'>
                    <div id="a3" class="match-sign">WCG – Shenzhen
                        </div>
                </li>
            </ul>
            <div id="gankerex_match_imgs" class="gankerex_match_imgs clearfix animated fadeInUp">
                <div class="row" id="n1" style="display: none;">
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px;">
                        <div class="row">
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(2).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(5).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(27).jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px; margin-top: 5px;">
                        <div class="row">
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(1).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(3).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(4).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(6).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(7).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(8).jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="n2" style="display: none;">
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px;">
                        <div class="row">
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/xi'an(1).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/xi'an(2).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/xi'an(3).jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px; margin-top: 5px;">
                        <div class="row">
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(4).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(5).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(6).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(7).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(8).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/xi'an(9).jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="n3" style="display: none;">
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px;">
                        <div class="row">
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(12).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(15).jpg">
                            </div>
                            <div class="col-md-4" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" style="object-fit: scale-down;" height="auto" src="{{imgUrl}}/images/front/other(28).jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left: -4px; margin-right: -4px; margin-top: 5px;">
                        <div class="row">
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(13).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(14).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(16).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(17).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(18).jpg">
                            </div>
                            <div class="col-md-2" style="padding-left: 4px; padding-right: 4px;">
                                <img width="100%" height="auto" style="object-fit: scale-down;" src="{{imgUrl}}/images/front/other(19).jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->