<!-- breadcrumb start 
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
-->
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space" style="padding-top: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="item-menu">
                    <ul class="nav nav-tabs nav-material" style="margin-bottom: 15px; justify-content: center;" id="top-tab" role="tablist" >
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link active" id="warranty-tab" data-toggle="tab" href="#warranty" role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>Return & Warranty</a>
                            <div class="material-border"></div>
                        </li>
            
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link" id="retailers-tab" data-toggle="tab" href="#retailers" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Retailers</a>
                            <div class="material-border"></div>
                        </li>
            
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link" id="download-tab" data-toggle="tab" href="#download" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>Download Center</a>
                            <div class="material-border"></div>
                        </li>
                    </ul>
                </div>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="warranty" role="tabpanel" aria-labelledby="warranty-tab">
                        <div class="bod">
                            <p>
                                <strong>1 Purpose:</strong>
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To regulate GJS's service terms and standards for Indonesian after-sales returns and repairs to further improve the quality and level of service of after-sales services.</p>
                        </div>
                        <div class="bod">
                            <p>
                                <strong>2 Scope:</strong>
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Applies to service management of after-sales returns, replacements, and repairs for GJS Robots Indonesia distributors, dealers, and end-user.</p>
                        </div>
                        <div class="bod">
                            <p>
                                <strong>3 Definitions:</strong>
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOA (Dead on Arrival), refers to goods that are defective on arrival. After receiving goods from GJS Robots Indonesia, to find that the goods appear to be damaged or have performance failure. Once such conditions are confirmed, it is entitled to apply for a replacement.</p>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAP (Dead after Purchase), refers to machines that are found to fall within the scope of performance failure within 30 days of purchase by end-users. The end-user can apply for a parts replacement and must provide valid proof of purchase, which includes but is not limited to machine invoices, warranty cards, sales receipts, etc.</p>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In Warranty, refers to the discovery of non-human performance failure from the date of purchase by the end-user and within the warranty period. The end-user is entitled to repair services at an authorized GJS Robots Indonesia distributor with valid proof, which includes but is not limited to machine invoices, warranty cards, sales receipts, etc.</p>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beyond Warranty, refers to the period after purchase by the end-user beyond the warranty period or the discovery of human performance failure. The end-user is entitled to paid repair services at an authorized GJS Robots Indonesia distributor.</p>
                        </div>
                        
                        <div class="bod">
                            <p>
                                <strong>4 Repair in warranty:</strong>
                            </p>
                            <p style="text-align: center;">
                                <b>Performance Failure Table</b>
                            </p>
                            <p>
                               <span>
                                    <table class="table-warranty" width="100%" cellspacing="0" cellpadding="0">
                                       
                                        <tr>
                                            <th>name</th>
                                            <th>Performance failure</th>
                                        </tr>
                                        <tr>
                                            <th >Host</th>
                                            <th>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Unable to power on, cannot connect normally</tr>
                                                <tr style="border-bottom: 1px solid black; display: block;">Key failure</tr>
                                                <tr style="border-bottom: 1px solid black; display: block;">Unable to move normally</tr>
                                                <tr style="display: block;">No Sound</tr>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Battery</th>
                                            <th>Does not work after charging (judgment is based on fully charged, indicator keeps on red)</th>
                                        </tr>
                                        <tr>
                                            <th>USB cable</th>
                                            <th>Does not work properly (indicator don't turn red while charging)</th>
                                        </tr>
                                       
                                    </table>
                               </span>
                            </p>
                        </div>
                        <div class="bod">
                            <p style="text-align: center;">
                                <b>Warranty Period</b>
                            </p>
                            <p>
                                <span>
                                    <table style="border: 1px solid black;" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                           <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 25%;">Product</th>
                                           <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 50%;">Primary part</th>
                                           <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 25%;">Warranty duration</th> 
                                        </tr>
                                        <tr>
                                            <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 25%;">GEIO</th>
                                            <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 25%;">
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Main board</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Connecting Cable</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">USB Cable</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Battery</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Sensor</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Motor for Gun</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">Motor for wheel</tr>
                                                <tr style="display: block;">Wheels</tr>
                                            </th>
                                            <th style="border: 1px solid black; text-align: -webkit-center; text-align: center; width: 25%;">
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">6 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">6 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">6 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">6 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">3 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">3 months</tr>
                                                <tr width="100%" style="border-bottom: 1px solid black; display: block;">3 months</tr>
                                                <tr style="display: block;">3 months</tr>
                                            </th>
                                        </tr>
                                    </table>
                                </span>
                            </p>
                        </div>
                        <div class="bod">
                            <p>
                                <strong>5 Paid repairs:</strong>
                                Under the following conditions, a reasonable fee must be charged
                            </p>
                            <p>
                                (1) Out-of-warranty;
                            </p>
                            <p>
                                (2) No proof of purchase and valid invoice (except for proof of the warranty period);
                            </p>
                            <p>
                                (3) The contents of the purchase certificate or the logo of the physical product does not match or is altered;
                            </p>
                            <p>
                                (4) Product use or repair is inconsistent with the instructions for product use in the manual, or damage is caused;
                            </p>
                            <p>
                                (5) Damage caused by unauthorized dismantling or repair, unauthorized repair or modification by a company different from GJS Robots Indonesia or Distributors;
                            </p>
                            <p>
                                (6) Wetness, moisture, mildew;
                            </p>
                            <p>
                                (7) Failure of equipment accessories and other components aside from the main components listed above;
                            </p>
                            <p>
                                (8) Damage due to force majeure.
                            </p>
                        </div>
                        <div class="bod">
                            <p>
                                <strong>
                                    6 Supplementary information:
                                </strong>
                                The above-mentioned after-sales service policy is subject to change.
                            </p>
                        </div>
                    </div>
            
                    <div class="tab-pane fade show" id="retailers" role="tabpanel" aria-labelledby="retailers-tab">
                        <div class="channel-list">
                            <h3>Distributor</h3>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let dist of distributors">
                                    <div class="thumb">
                                        <h3>{{dist.title}}</h3>
                                        <div style="height: auto; align-items: center; display: flex; margin-bottom: 20px;">
                                            <img src="{{imgUrl}}/images/front/{{dist.image}}" alt="">
                                        </div>
                                        <p class="clearfix row">
                                            <span class="col-12 fl">Address: 
                                                <br />
                                                <br />
                                                {{dist.address}}
                                            </span>
                                            <br />
                                            <span class="col-12 disblock ovhid">
                                                Area: 
                                                <br />
                                                <br />
                                                {{dist.area}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="channel-list">
                            <h3>Retailers</h3>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let dist of retailers">
                                    <div class="thumb">
                                        <h3>{{dist.title}}</h3>
                                        <div style="height: auto; align-items: center; display: flex; margin-bottom: 20px;">
                                            <img src="{{imgUrl}}/images/front/{{dist.image}}" alt="">
                                        </div>
                                        <p class="clearfix row">
                                            <span class="col-12 fl">Address: 
                                                <br />
                                                <br />
                                                {{dist.address}}
                                            </span>
                                            <br />
                                            <span class="col-12 disblock ovhid">
                                                Area: 
                                                <br />
                                                <br />
                                                {{dist.area}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="tab-pane fade show" id="download" role="tabpanel" aria-labelledby="download-tab">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="download-title">
                                    MANUALS
                                </h3>
                                <ul class="download-pdf">
                                    <li *ngFor="let down of download">
                                        <div>
                                            <a target="_blank" href="{{down.path}}" class="name">
                                                {{down.name}}
                                            </a>
                                            <div style="color: #707473;">
                                                {{down.time}}
                                            </div>
                                        </div>
                                        <a target="_blank" href="{{down.path}}">
                                            {{down.type}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h3 class="download-title">
                                    APP
                                </h3>
                                <ul class="download-pdf">
                                    <li *ngFor="let ap of app">
                                        <div>
                                            <a target="_blank" href="{{ap.path}}" class="name">
                                                {{ap.name}}
                                            </a>
                                            <div style="color: #707473;">
                                                {{ap.time}}
                                            </div>
                                        </div>
                                        <a target="_blank" href="{{ap.path}}">
                                            {{ap.type}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>
<!--Section ends-->