<!-- section start -->
<section class="section-b-space" style="padding-top: 0; padding-bottom: 0;">
    <!--<div class="container">
        <div class="row">-->
            <div>
                <div>
                    <div class="topbar changeStyle">
                        <div class="topbar_content">
                            <div class="left"></div>
                            <div class="right">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/pages/genker-ex/gankerEX_Download']">
                                            Download
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" class="btn btn-solid" href="https://www.tokopedia.com/gjsrobots/gjs-ganker-ex-robot-joystick-version-future-gaming-robot-battle">
                                            Buy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>
    </div>-->
</section>
<!-- section end -->