<!-- section start -->
<section class="section-b-space" style="padding-top: 0; padding-bottom: 0;">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <img style="width: 100%; height: auto; object-fit: scale-down;" data-src="{{imgUrl}}/images/front/pic29.png" src="{{imgUrl}}/images/front/pic29.png" alt="">
                </div>
                <div class="col-md-6 table-cell">
                    <div class="m-text-upload app-text" style="width: auto; float: right;">
                        <h3>APP update</h3>
                        <p style="margin-top: 28px;">The GEIO APP requires devices that support 5GHz Wi-Fi.</p>
                        <p>iOS 11.0 or higher, Android 5.0 or higher</p>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.geio" class="android-app"></a>
                        <a target="_blank" href="https://itunes.apple.com/us/app/geio/id1291673794" class="ios-app"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- section end -->