<div class="footer-social">
    <ul>
        <li>
            <a href="https://www.facebook.com/gjsrobots.id"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <!--
        <li>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
        -->
        <li>
            <a href="https://twitter.com/gjsrobotsindo"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/gjsrobotsindonesia/?hl=id"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        
        <li class="toped-media">
            <a href="https://www.tokopedia.com/gjsrobots">
                <img src="./assets/images/toped.png" alt="toped">
            </a>
        </li>
        
    </ul>
</div>