<!-- section start -->
<section class="section-b-space" style="background-color: #191819; padding-top: 0; padding-bottom: 0;">
    <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home genker text-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <div class="slider-contain genker">
                            <div class="col-md-6 panel-ganker-5">
                                <div class="word-strong" style="text-align: left;">
                                        Your mech, created by you
                                </div>
                                <div class="line"></div>
                                <div class="word" style="text-align: left;">
                                        GANKER EX's skeleton and armor are designed separately. Drivers can choose from many official styles of armor, or they can modify and design their own armor. Combine the open weapon system and make weapons according to your preferences. Make your GANKER EX unique and different.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{{imgUrl}}/images/front/ganker-frame.png" style="object-fit: scale-down; width: 100%; height: auto; margin-top: 10px;">
                                <div style="text-align: center; color: rgb(135, 135, 135);"></div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home genker text-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <div class="slider-contain genker">
                            <div class="col-md-6 panel-ganker-5">
                                <div class="word-strong" style="text-align: left;">
                                        Your mech, created by you
                                </div>
                                <div class="line"></div>
                                <div class="word" style="text-align: left;">
                                        Whether it is spray paint or water decal sticker, they complement each other. Thanks to the universal design concept, the driver can also use the basic data and documents provided by the official to select or make weapons based on his preferences. Make your GANKER EX unique and different.              
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{{imgUrl}}/images/front/kuijia.png" style="object-fit: scale-down; width: 100%; height: auto; margin-top: 10px;">
                                <div style="text-align: center; color: rgb(135, 135, 135);"></div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</section>
<!-- section end -->