<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="download-head">
                    <span class="title1" style="color: rgb(114, 114, 114);">
                            GANKER &nbsp;EX&nbsp; 
                    </span>
                    <span class="title1" style="color: rgb(41, 170, 225);">
                            Download
                    </span>
                    <br />
                    <span class="title2" style="color: rgb(114, 114, 114);">
                            首页/产品/GANKER EX/下载
                    </span>
                </div>
                <div class="row main">
                    <div class="col-md-6 docs">
                        <h3 class="download-title">MANUALS</h3>
                        <ul class="download-pdf">
                            <li>
                                <div>
                                    <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_CN.pdf" class="name">GANKER_EX_USER_MANUAL_V1.0_CN</a>
                                    <div class="time">2019-10-24</div>
                                </div>
                                <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_CN.pdf">PDF</a>
                            </li>
                            <li>
                                <div>
                                    <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_EN.pdf" class="name">GANKER_EX_USER_MANUAL_V1.0_EN</a>
                                    <div class="time">2019-10-24</div>
                                </div>
                                <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_EN.pdf">PDF</a>
                            </li>
                            <li>
                                <div>
                                    <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_RUS.pdf" class="name">GANKER_EX_USER_MANUAL_V1.0_RUS</a>
                                    <div class="time">2019-10-24</div>
                                </div>
                                <a target="_blank" href="https://res.gjs.so/download/gankerex/GANKER_EX_USER_MANUAL_RUS.pdf">PDF</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 app">
                        <h3 class="download-title">
                            APP
                        </h3>
                        <ul class="download-pdf">
                            <li>
                                <div>
                                    <a href="https://res.gjs.so/download/gankerex/ganker-ex.apk" class="name" download>Android GANKER&nbsp;EX&nbsp;APP</a>
                                    <div class="time">2019-07-17</div>
                                </div>
                                <a download href="https://res.gjs.so/download/gankerex/ganker-ex.apk">APP</a>
                            </li>
                            <li>
                                <div>
                                    <a href="https://apps.apple.com/app/ganker-ex/id1474939465" class="name" download>IOS GANKER&nbsp;EX&nbsp;APP</a>
                                    <div class="time">2019-09-01</div>
                                </div>
                                <a download href="https://apps.apple.com/app/ganker-ex/id1474939465">APP</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->