
<!-- about section start -->
<section class="about-page  section-b-space" style="padding-top: 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="item-menu">
                    <ul class="nav nav-tabs nav-material" style="margin-bottom: 15px; justify-content: center;" id="top-tab" role="tablist" >
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link active" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>Company Profile</a>
                            <div class="material-border"></div>
                        </li>
            
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Contact Us</a>
                            <div class="material-border"></div>
                        </li>
            
                        <li class="nav-item">
                            <a style="text-transform: none;" class="nav-link" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>Player Show</a>
                            <div class="material-border"></div>
                        </li>
                        
                    </ul>
                </div>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="company-tab">
                        <div class="container">
                            <h2 class="title-company">
                                Company Profile
                            </h2>
                            <div class="about-one">
                                <p>
                                    
                Shenzhen GJS Technology Co., LTD. is a high-tech enterprise specialized in R&D, producing and promoting consumer battle robots and gaming robots. Well-known for its outstanding mechanical aesthetics and commercial application of cutting-edge technology, GJS ROBOT has attracted millions of fans both at home and abroad with two blockbuster products: The battle robot GANKER and the gaming robot GEIO. As a pioneer in battle robots and AI technology, GJS ROBOT has surpassed imagination with the help of technology, brought people closer, and made robot interaction a new type of popular entertainment.
            
                                </p>
                                <p style="margin-top: 25px;">
                                    GJS Robots Indonesia proudly present a New Entertainment interaction to the indonesian market. Our mission is to deliver technology driven products to your doorstep.
                                </p>
                            </div>
                            
                        </div>
                    </div>
            
                    <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-6" style="color: #868686; text-align: left;">
                                    <h3>
                                        GJS Robots Indonesia
                                    </h3>
                                    <div class="row">
                                        <div class="col-4" style="float: left;">
                                            <strong>Tel: </strong>
                                        </div>
                                        <div class="col-8">
                                            +62 821 1818 062
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="float: left;">
                                            <strong>Email: </strong>
                                        </div>
                                        <div class="col-8">
                                            <p>yudo.is@gjsrobots.id</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="float: left;">
                                            <strong>Sales: </strong>
                                        </div>
                                        <div class="col-8">
                                            <p>sales@gjsrobots.id</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="float: left;">
                                            <strong>Media: </strong>
                                        </div>
                                        <div class="col-8">
                                            -
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="float: left;">
                                            <strong>Address: </strong>
                                        </div>
                                        <div class="col-8">
                                            -
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-6">
                                    <!--
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d429.2927935630643!2d106.93559168831555!3d-6.227020170657298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x195c85a3c3b60618!2sHelihantoys!5e1!3m2!1sid!2sid!4v1576234666071!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="tab-pane fade show" id="player" role="tabpanel" aria-labelledby="player-tab">
                        <div class="container">
                            <div class="product-wrapper-grid">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-6 col-grid-box" *ngFor="let img of images">
                                            <div class="product-box" style="padding-bottom: 10px;">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a ><img src="{{img.image}}" style="object-fit: scale-down; width: 100%; height: auto;" class="img-fluid" alt=""></a>
                                                    </div>
                                                </div>
                                                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
