<!-- section start -->
<section class="section-b-space" style="padding-top: 0; padding-bottom: 0;">
    <div class="col-md-12 p-parameter">
        <a [routerLink]="'/pages/geio/parameter'">
            <img data-src="{{imgUrl}}/images/front/pic33.jpg" src="{{imgUrl}}/images/front/pic33.jpg">
            <div class="p-parameter-text">
                <h4>Product Specs</h4>
                <p><span class="unline">View More</span></p>
            </div>
        </a>
    </div>
</section>
<!-- section end -->