<!-- section start -->
<section class="section-b-space" style="padding-top: 0; padding-bottom: 0;">
    <div class="col-md-12 p-video" style="padding-left: 0; padding-right: 0;">
        <a [routerLink]="'/pages/geio/video'">
            <img data-src="{{imgUrl}}/images/front/pic32.jpg" src="{{imgUrl}}/images/front/pic32.jpg">
            <div class="p-video-text">
                <h4>Watch the video</h4>
                <p><span class="unline">More Video</span></p>
            </div>
        </a>
    </div>
</section>
<!-- section end -->