<!-- section start -->
<section class="section-b-space" style="background-color: #191819;">
    <div class="container">
        <div class="row">
            <div class="panel-ganker-3-top">
                <div class="video-player" id="videoPlayer2">
                    <div id="vjs_video_2650" class="video-js vjs_video_2650-dimensions vjs-fluid vjs-controls-disabled vjs-workinghover vjs-v6 vjs-has-started vjs-paused vjs-ended vjs-user-inactive" tabindex="-1" lang="zh-cn" role="region" aria-label="Video Player">
                        <video class="vjs-tech" id="vjs_video_2650_html5_api" tabindex="-1" preload="auto" muted src="{{imgUrl}}/images/front/video/video2.ogg"></video>
                        <div class="vjs-poster vjs-hidden" tabindex="-1" aria-disabled="false"></div>
                    </div>
                    <div class="vjs-text-track-display" aria-live="off" aria-atomic="true">
                        <div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: 1.5%;"></div>
                    </div>
                </div>
                <div class="gankerex-play" (click)="playPause()">
                    &nbsp;&nbsp;Click to play
                </div>
            </div>
            <div class="col-md-12 panel-ganker-3-bot">
                <div class="word-strong animated fadeInUp">
                    Human-machine integration, attitude synchronization
                </div>
                <div class="line animated fadeInUp"></div>
                <div class="word animated fadeInUp">It has a "man-machine integrated" control system, supports two sensory operation controllers, captures space movements, and achieves millisecond synchronization. Intuitive operation mode and electronic scoring system based on physical strike make attack and judgment more efficient.
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->